body{
    background-image: url(mainbg.png);
    height:200vh;
    background-repeat: repeat;
}
h1{
    font-family: "Orbitron", sans-serif;
    color: white;
    font-size: 3vw;
    margin-left: 2%;
}
.container{
    height:50%;
    width:90%;
    margin:auto;
    background-color: rgba(1, 1, 44, 0.53);
    border-radius: 50px;
    max-width: 1200px;
    
}
.Admin{
    text-align: left;
    margin-left: 5%;
    padding-top: 5%;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 250%;
    background: linear-gradient(to top right,
    rgb(0, 0, 123) 5%,
    rgb(63, 2, 63) 15%,
    rgb(248, 104, 178) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.main{
    display:flex;
    align-items: flex-start;
    height:30%;
    width: 95%;
    background-color:rgba(20, 15, 25, 0.42);
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
    margin-top: 2%;
}

.one, .two, .three{
    display:inline-block;
    height:80%;
    width:20%;
    background-color:rgba(20, 15, 25, 0.895);
    margin-bottom: 1.5 ;
    margin-top: 1.5%;
    margin-left: 1%;
    border-radius: 20px;
    text-align: left;
    padding-left: 1%;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.772)
}

#Analytics{
    margin-top: 30%;
    margin-left: 30%;
    width: 200px;
    padding:10px;
    border: none;
    border-radius: 20px;
    color: white;
    font-family: sans-serif;
    background: linear-gradient(to right, #2c0259, #093278, rgb(239, 6, 138));
    cursor:pointer
}

#Roles{
    font-size: 20px;
    margin: auto 5%;
    color: rgba(255, 255, 255, 0.772)
}

#myroles{
    display:flex;
    justify-content: center;
    margin-top: 13vh;
    margin-left: 87vh;
    width: 200px;
    padding:10px;
    border: none;
    border-radius: 20px;
    color: white;
    font-family: sans-serif;
    background: linear-gradient(to right, #2c0259, #093278, rgb(239, 6, 138));
    cursor:pointer
}